@import url('https://fonts.googleapis.com/css?family=Pangolin&display=swap');


#article{
    display: flex;
    justify-content: space-around;
}
body{
    background-color: black;
}
.text{
    color: white;
    font-family: 'Pangolin', cursive;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
input[type="text"] {
    font-size:20px;
    color: white;
    background-color: black;
    border: 2px solid white;
    width: 300px;
}
#logo{
    display: flex;
    justify-content: space-around;
    font-family: 'Pangolin', cursive;
    font-size: 30px;
}
#inputClearText, #inputDirtText{
    font-size:20px;
    color: white;
    background-color: black;
    border: 2px solid white;
    height: 300px;
    width: 300px;
}
#outputClearToDirtText, #outputDirtToClearText{
    height: 300px;
    width: 300px;
    font-size: 20px;
    color: white;
    background-color: black;
    border: 2px solid white;
}